/* |||||||||||||||||||||||    Basic style    ||||||||||||||||||||||||| */

body {
  font-size: 100%;
  font-weight: 700;
  font-family: "Dosis", serif;
  color: #fff;
  background-color: #FCE29A;
}

a { text-decoration: none; }

img { max-width: 100%; }
figure { margin: 0; }

h1, h2 { font-weight: 400; }
h3 { font-weight: 600; }
h4 { font-weight: 500; }

h2, h3 {
  margin: 0;
  display: inline-block;
}

ul {
  list-style: none;
  padding: 0;
}

/* ||  Helpers  || */
.textShadow { text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); }

.inlineBlock,
.inlineList > li { display: inline-block; }


/* |||||||||||||||||||||||    Header    ||||||||||||||||||||||||| */

header {
  text-align: center;
  margin: 2em 0 0;
}
header h1 {
  font-size: 2.2em;
  margin: 0;
  border-bottom: 1px dashed #fff;
  padding: 0 2em .3em;
  white-space: nowrap;
}
header span{
  font-size: 1.4em;
  font-weight: 500;
  margin-top: .4em;
}
header li {
  font-size: 1.7em;
  margin: 0 2px;
}
header img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid #fff;
  margin: 35px 15px 0;
  box-shadow: 0 0 0 15px #F0CB70;
}
header a{color: #F0CB70;}
header a:hover{ color: #fff; }

address {
  font-style: normal;
  font-weight: 600;
  color: rgb(226, 188, 94);
  margin-top: 1.5em;
  margin-bottom: -0.5em;
}


/* |||||||||||||||||||||||    Timeline    ||||||||||||||||||||||||| */

.online a.hyperlink { border-bottom: 1px dotted #EF596F; }
.offline a.hyperlink { border-bottom: 1px dotted #2EC7CE; }

.top {
  position: relative;
  margin: auto;
}
.top h2 {
  padding: 5px 15px 8px 15px;
  border-radius: 8px;
  position: relative;
  top: 22px;
  background-color: #FCE29A;
}

.top.online h2 {
  color: #EF596F;
  border-left: 3px solid #EF596F;
  border-right: 3px solid #EF596F;
}
.top.offline h2 {
  color: #2EC7CE;
  border-left: 3px solid #2EC7CE;
  border-right: 3px solid #2EC7CE;
}

.topLine {
  width: 50%;
  position: absolute;
  bottom: -2px;
}
.online .topLine{
  border-bottom: 2px dotted #EF596F;
  right: 0;
}
.offline .topLine{
  border-bottom: 2px dotted #2EC7CE;
  left: 0;
}

#timeline {
  max-width: 1600px; /* ? */
  margin: 0 auto;
  padding-top: 2.5em;
  position: relative;
  padding-bottom: 6em;
  overflow: hidden;
}

/* ||||||   Axis   |||||| */

#timeline::before,
#timeline::after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 7px;
  left: 50%;
}

#timeline::before {
  margin-left: -7px;
  background: #EF596F;
}
#timeline::after {
  margin-left: 0;
  background: #2EC7CE;
}

/* ||||||   Common Rules   |||||| */

.item { margin: 1.5em 0; }

.online .eventText > h4,
.online .thumb {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-right: 3px solid #EF596F;
}
.offline .eventText > h4,
.offline .thumb {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-left: 3px solid #2EC7CE;
}

.online .project .info,
.offline .project .thumb,
.online .eventText { text-align: right; }
.offline .project .info,
.online .project .thumb,
.offline .eventText { text-align: left; }

.date,
.thumb,
.info,
.eventText { display: inline-block; }

.online .date,
.online .thumb,
.offline .info,
.online .eventText { float: right; }

.offline .date,
.offline .thumb,
.online .eventText { float: left; }

/* ||||||   Project block   |||||| */

.online .thumb { padding: 9px 10px 9px 0; }
.offline .thumb {  padding: 9px 0 9px 10px; }

.thumb img {
  border-radius: 4px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  z-index: 5;
  width: 400px;
  vertical-align: middle;
}

/* || Img on hover || */
.thumb { position: relative; }

.thumb figcaption {
  visibility: hidden;
  position: absolute;
  left: 4%;
  top: 4%;
  color: #777;
  width: 88%;
  height: 88%;
  font-weight: 500;
}
.offline .thumb figcaption {
  text-align: left;
  left: 6.5%;
}
.thumb figcaption h4 {
  font-weight: 800;
  margin: .8em 0 .5em;
}
.thumb figcaption p {
  margin-top: 0;
  text-align: justify;
}

.thumb figcaption li {
  margin-left: 1.2em;
  margin-bottom: .3em;
}

.thumb figcaption li::before {
  content: "—";
  position: absolute;
  left: 0;
}

.tint {
  background-color: #fff;
  float: left;
  border-radius: 4px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

/* ||  Info  || */
.info {
  padding-top: 10px;
  position: relative;
}

.online .info { padding-right: 1em; }
.offline .info { padding-left: 1em; }

.info h3 {
  font-size: 1.1em;
  padding: 4px 12px 5px 12px;
  background-color: #F0CB70;
  border-radius: 4px;
  color: white;
}

/* ||  External links  || */
.extlinks { margin: 10px 0 5px; }
.extlinks .fa{
  font-size: 1.5em;
  margin: 0 2px;
}

.extlinks a {
  border: none;
  color: #F0CB70;
}
.extlinks a:hover {color: #fff;}

/* ||  Skills || */
.skills {
  margin: 0;
  white-space: nowrap;
}
.skills li > span {
  padding: 2px 7px 3px 8px;
  border: 2px solid #fff;
  border-radius: 4px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.08);
  line-height: 2.3em;
}

/* ||||||   Even Block   |||||| */

.eventText a { color: #2F4F4F; }

.online .eventText a:hover { color: #EF596F; }
.offline .eventText a:hover { color: #2EC7CE; }

.eventText .fa {
  position: absolute;
  top: 50%;
  margin-top: -7px;
}
.online .eventText .fa {
  color: #EF596F;
  right: 12px;
}
.offline .eventText .fa {
  color: #2EC7CE;
  left: 12px;
}
.eventText > h4 {
  margin: 0;
  padding: 10px 20px;
  background-color: white;
  border-radius: 5px;
  color: #2F4F4F;
  font-size: 1em;
  position: relative;
}
.online .eventText > h4 { padding-right: 44px; }
.offline .eventText > h4 { padding-left: 44px; }

/* ||||||   Date Pointer   |||||| */

.date {
  position: relative;
  bottom: 22px;
}
.online .date { border-bottom: 2px dotted #EF596F; }
.offline .date { border-bottom: 2px dotted #2EC7CE; }

.date > p {
  font-size: .85em;
  text-align: center;
  font-weight: 400;
  position: relative;
  bottom: -10px;
}

.online .date > p {
  right: 4px;
  color: #EF596F;
}
.offline .date > p {
  left: 4px;
  color: #2EC7CE;
}


/* |||||||||||||||||||||||    Footer    ||||||||||||||||||||||||| */

footer{
  position:relative;
  text-align: center;
  bottom: 25px;
}
footer p { margin: .1em; }

footer .fa-certificate {
  margin-top: -30px;
  font-size: 7em;
}
footer .fa-bolt {
  font-size: 2.7em;
  color: #2EC7CE;
  position: absolute;
  margin: 5px auto auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
footer .longLink {
  position: relative;
  top: 23px;
  z-index: -1;
  display: none;
}

/* ||||||   Ribbon   |||||| */

.ribbon {
  width: 80px;
  font-size: 1.1em;
  position: relative;
  background: #F0CB70;
  padding: 0.3em 0.5em;
  margin: 9px auto 0 auto;
}
.ribbon:before, .ribbon:after {
  content: "";
  position: absolute;
  bottom: -.3em;
  border: 1em solid #E2BC5E;
  z-index: -1;
}
.ribbon:before {
  left: -1.6em;
  border-left-color: transparent;
}
.ribbon:after {
  right: -1.6em;
  border-right-color: transparent;
}

/* ||||||   Switch (mobile screens only)   |||||| */

.switchWrap {
  display: none;
  border-top: 1px dashed #E2BC5E;
  position: relative;
  background-color: rgba(0,0,0,0.01);
}

header .switchWrap {
  border-bottom: 1px dashed #E2BC5E;
  padding-bottom: 3.5em;
  margin-bottom: .5em;
}
footer .switchWrap {
  bottom: -40px;
  padding-bottom: 4em;
}

.switchWrap h4 { color: #d8b45a; }

header .switchWrap h4 { margin: 1.5em 0 .7em; }
footer .switchWrap h4 { margin: 2em 0 .7em; }

.onlineSwitch,
.offlineSwitch {
  display: inline-block;
  font-weight: 400;
  position: relative;
}

.onlineSwitch {
  text-align: right;
  color: #EF596F;
  float: left;
}
.offlineSwitch {
  text-align: left;
  color: #2EC7CE;
  float: right;
}
.switch {
  position: absolute;
  left: 50%;
  margin-left: -35px;
}

header .onlineSwitch,
header .offlineSwitch { top: -12px; }

footer .onlineSwitch,
footer .offlineSwitch { top: 3px; }


/* |||||||||||||||||||||||    Responsive behavior    ||||||||||||||||||||||||| */

@media (min-width: 769px) {
  .top.online {float: left;}
  .top.offline {float: right;}

  .item.offline {
    position: relative;
    left: 50%;
  }
}

@media (min-width: 769px) and (max-width: 1199px), (max-width: 670px){

  .skills { white-space: normal; }

  .skills li,
  .extlinks { display: inline-block; }

  .offline .extlinks { margin: 0 -3px 5px 2px; }
  .online .extlinks { margin: 0 -3px 5px 4px; }

  .item { margin: 2.5em 0; }

  .online .info h3 { margin: 0 -2px 3px 0; }
  .offline .info h3 { margin: 0 0 3px 0; }

  .offline .info {
    left: 16.66%;
    float: left;
    padding-left: 0;
  }
  .online .info {
    right: 16.66%;
    float: right;
    padding-right: 0;
  }
}

@media (max-width: 768px) {

  #timeline::before { left: 100%; }
  #timeline::after { left: 0; }

  #timeline::after,
  .offline { display: none; }

  footer .longLink,
  .switchWrap { display: block; }

  #timeline.hideOffline::after { display: none; }
  #timeline.showOffline::after { display: block; }

  #timeline.hideOnline::before { display: none; }
  #timeline.showOnline::before { display: block; }
}

/* Onload animation */

header .longLink,
#timeline,
.ribbon,
.fa-bolt,
.fa-certificate { opacity: 0; }

.ribbon {
  top: -60px;
}
